.progress-indicator-wrapper {
  width: 65%;
  max-width: 300px;
  height: 2px;
  background-color: #4c4c4c;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  transform-origin: right center;

  .progress-indicator-fill {
    background-color: $white;
    width: 0;
    animation: fake-load 1.2s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    height: 100%;
  }
}

@keyframes fake-load {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}