$icon-size: 42px;

.social-links {
  width: auto;
  text-align: center;

  &__item {
    opacity: 0;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;

    img {
      width: $icon-size;
      height: $icon-size;
    }

    &:not(:last-child) {
      margin-right: 64px;
    }

  }
}