.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  z-index: 1; 
}

.header {
  text-align: center;
  width: 100%;
  font-size: 7.2rem;
  color: $text-white;
  font-family: 'Poiret One', cursive;
  opacity: 0;
}