$white: #c5c5c5;
$text-white: #e0e0e0;

body {
  background-color: #1d1d1d;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 10px;
  margin-bottom: 16px;
}

#bkg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

@import "modules/wrapper";
@import "modules/loader";
@import "modules/social-links";